<footer class="bg-dark text-white py-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <div class="social-links">
          <a href="#" class="btn btn-link btn-floating btn-lg text-light m-1">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="btn btn-link btn-floating btn-lg text-light m-1">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="btn btn-link btn-floating btn-lg text-light m-1">
            <i class="fab fa-google"></i>
          </a>
          <a href="#" class="btn btn-link btn-floating btn-lg text-light m-1">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-1">
      <div class="col-12 text-center">
        <p class="mb-0">© 2023 Bank of Bharat. All rights reserved.</p>
        <p class="mb-0">Made with <i class="fas fa-heart text-danger"></i> by <a class="text-light" href="www.topmate.it/himasnhusingour">Your Company</a></p>
      </div>
    </div>
  </div>
</footer>
