<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
  <form style="width: 40000px;">
    <h1 class="text-center">Get Your Account Details.</h1>

    <div class="mb-1">
      <label for="text" class="form-label fs-6">Account Holder Name</label>
      <input type="password" class="form-control form-control-sm" id="exampleInputPassword1">
    </div>

    <div class="mb-1">
      <label for ="text" class="form-label fs-6">Contact Email Address</label>
      <input type="password" class="form-control form-control-sm" id="exampleInputPassword1">
    </div>

    <div class="mb-1">
      <label for="text" class="form-label fs-6">Contact Phone Number</label>
      <input type="password" class="form-control form-control-sm" id="exampleInputPassword1">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
