<div class="image-container">

  <div class="container d-flex justify-content-center align-items-center" style="height: 150vh;">
    <form (ngSubmit)="onSubmit()" style="width: 600px; background-color: #ffffff; padding: 20px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
      <h1 class="text-center" style="font-family: 'Arial', sans-serif; color: #0078d4; font-size: 24px; padding: 20px 0;">Create Your Bank Account</h1>

      <div class="mb-1">
        <label for="accountHolderName" class="form-label fs-6">Account Holder Name</label>
        <input type="text" class="form-control form-control-sm" id="accountHolderName" name="accountHolderName" [(ngModel)]="accountDetails.accountHolderName">
      </div>

      <div class="mb-1">
        <label for="contactEmail" class="form-label fs-6">Contact Email Address</label>
        <input type="text" class="form-control form-control-sm" id="contactEmail" name="contactEmail" [(ngModel)]="accountDetails.contactEmail">
      </div>

      <div class="mb-1">
        <label for="contactPhone" class="form-label fs-6">Contact Phone Number</label>
        <input type="text" class="form-control form-control-sm" id="contactPhone" name="contactPhone" [(ngModel)]="accountDetails.contactPhone">
      </div>

      <div class="mb-1">
        <label for="gender" class="form-label fs-6">Gender</label>
        <input type="text" class="form-control form-control-sm" id="gender" name="gender" [(ngModel)]="accountDetails.gender">
      </div>

      <div class="mb-1">
        <label for="contactAddress" class="form-label fs-6">Contact Address</label>
        <input type="text" class="form-control form-control-sm" id="contactAddress" name="contactAddress" [(ngModel)]="accountDetails.contactAddress">
      </div>

      <div class="mb-1">
        <label for="stateOfOrigin" class="form-label fs-6">State of Origin</label>
        <input type="text" class="form-control form-control-sm" id="stateOfOrigin" name="stateOfOrigin" [(ngModel)]="accountDetails.stateOfOrigin">
      </div>

      <div class="mb-1">
        <label for="pinCodeNumber" class="form-label fs-6">Pin Code Number</label>
        <input type="text" class="form-control form-control-sm" id="pinCodeNumber" name="pinCodeNumber" [(ngModel)]="accountDetails.pinCodeNumber">
      </div>

      <div class="mb-1">
        <label for="currentLocation" class="form-label fs-6">Current Location</label>
        <input type="text" class="form-control form-control-sm" id="currentLocation" name="currentLocation" [(ngModel)]="accountDetails.currentLocation">
      </div>

      <div class="mb-1">
        <label for="designation" class="form-label fs-6">Designation</label>
        <input type="text" class="form-control form-control-sm" id="designation" name="designation" [(ngModel)]="accountDetails.designation">
      </div>

      <div class="mb-1">
        <label for="country" class="form-label fs-6">Country</label>
        <input type="text" class="form-control form-control-sm" id="country" name="country" [(ngModel)]="accountDetails.country">
      </div>

      <div class="mb-2">
        <label for="accountType" class="form-label fs-6">Account Type</label>
        <input type="text" class="form-control form-control-sm" id="accountType" name="accountType" [(ngModel)]="accountDetails.accountType">
      </div>

      <button type="submit" class="btn btn-primary" style="padding-top: 5px;">Submit</button>
    </form>
  </div>

</div>
