<div class="container d-flex justify-content-center align-items-center" style="height: 150vh;">
  <form style="width: 40000px;">
    <h1 class="text-center">OPEN YOUR ACCOUNT WITH BANK OF BHARAT</h1>

    <div class="mb-1">
      <label for="text" class="form-label fs-6">Account Holder Name</label>
      <input type="password" class="form-control form-control-sm" id="exampleInputPassword1">
    </div>

    <div class="mb-1">
      <label for ="text" class="form-label fs-6">Contact Email Address</label>
      <input type="password" class="form-control form-control-sm" id="exampleInputPassword1">
    </div>

    <div class="mb-1">
      <label for="text" class="form-label fs-6">Contact Phone Number</label>
      <input type="password" class="form-control form-control-sm" id="exampleInputPassword1">
    </div>

    <div class="mb-1">
      <label for="text" class="form-label fs-6">Gender</label>
      <input type="password" class="form-control form-control-sm" id="exampleInputPassword1">
    </div>

    <div class="mb-1">
      <label for="text" class="form-label fs-6">Contact Address</label>
      <input type="password" class="form-control form-control-sm" id="exampleInputPassword1">
    </div>


    <div class="mb-1">
      <label for="text" class="form-label fs-6">State of Origin</label>
      <input type="password" class="form-control form-control-sm" id="exampleInputPassword1">
    </div>


    <div class="mb-1">
      <label for="text" class="form-label fs-6">Pic Code Number</label>
      <input type="password" class="form-control form-control-sm" id="exampleInputPassword1">
    </div>


    <div class="mb-1">
      <label for="text" class="form-label fs-6">Current Location</label>
      <input type="password" class="form-control form-control-sm" id="exampleInputPassword1">
    </div>


    <div class="mb-1">
      <label for="text" class="form-label fs-6">Designation</label>
      <input type="password" class="form-control form-control-sm" id="exampleInputPassword1">
    </div>


    <div class="mb-1">
      <label for="text" class="form-label fs-6">Country</label>
      <input type="password" class="form-control form-control-sm" id="exampleInputPassword1">
    </div>

    <div class="mb-1">
      <label for="text" class="form-label fs-6">Account Type</label>
      <input type="password" class="form-control form-control-sm" id="exampleInputPassword1">
    </div>



    <!-- Repeat the above password input fields as needed -->

    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label fs-6" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
